<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" title="" type="">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <div>Page not found</div>
    </div>
    {{>footer}}
  </body>
</html>
