<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" title="" type="">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Weather application</p>
    </div>
    {{>footer}}
  </body>
</html>
