<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" title="" type="">
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    </div>
    {{>footer}}
  </body>
</html>
